body {
-webkit-appearance: none;
}

div{

	display: block;
}

.center {
	margin-top: 120px;
    margin-left: auto;
    margin-right: auto;
    width: 600px;

}
img.logo {
	display: block;
    margin: 0 auto;
}

input.bar{
	display: block;
    font: 16px arial,sans-serif;
    line-height: 34px;
    height: 34px;
    width: 403px;
    margin: 0 auto;
    border: 0;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08);
}
input:focus {outline: none; }

div.buttons {
	height: 40px;
    width: 400px;
    margin: 0 auto;    
    text-align: center;
    position: relative;
}

.searchBtn {
	 display: inline-block;
     height: 36px;
    line-height: 27px;
    background-color: #f2f2f2;
    border: 1px solid #f2f2f2;
    border-radius: 2px;
    color: #757575;
    font-family: arial,sans-serif;
    font-size: 13px;
    font-weight: bold;
    margin: 11px 4px;
    min-width: 54px;
    padding: 0 16px;
    text-align: center;
}
.searchBtn:hover{
	background-color: #f8f8f8;
	border: 1px solid #c6c6c6;
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
    color: #222;
}

.navBar{
	height: 30px;
    margin-top: 10px;
}

.navBar .left{
	height: 30px;
    width: 100px;
    display: inline-block;
}
.navBar .right{
	height: 30px;
    width: 300px;
    display: inline-block;
}

.navBar a {
	padding-left: 5px;
}

.navBar .text{
	height: 20px !important; 
	padding: 10px 0px 0px 0px;
	text-align: right;
	display:inline-block;
}

.navBar .right .text {
 	 width: 120px;
}

.navBar .right .images{
	display: inline-block;
}

.optionsB {
 	background-image: url(https://ssl.gstatic.com/gb/images/i1_1967ca6a.png);
    background-size: 528px 68px;
    background-position: -132px -38px;
    display: inline-block;
    outline: none;
    vertical-align: middle;
    box-sizing: border-box;
    height: 30px;
    width: 30px;
    margin-left: 15px;
}
.noteB {
	display: inline-block;
    vertical-align: middle;
    box-sizing: border-box;
    height: 30px;
    width: 30px;
   	margin-left: 12px;
}
.notePic {
	background-image: url(https://ssl.gstatic.com/gb/images/i1_1967ca6a.png);
	background-size: 528px 68px;
	background-position: -194px -21px;
	background-color: rgba(0,0,0,.55);
	line-height: 20px;
    margin: 5px;
    height: 20px;
    width: 20px;
    border-radius: 50%;
}